<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ARC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>ARC多对象内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Block数据类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Category.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Protocal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>SEL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>c.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>df.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>ff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>foundation(字符串操作).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>getter-setter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>kk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>self方法传递.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>分类练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>匿名对象.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>协议的应用二（代理设计模式）.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>多个对象的内存管理MRC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>多态.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>实例变量修饰符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>对象作为方法传递.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>对象作为返回值.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>构造方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>电饭锅.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>类工厂.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>结构体作为对象属性.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>解决循环retain（MRC）.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>961EFB281D8E886C00B105E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>961EFB381D8F86BA00B105E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96284D851D6E7E3E00E566EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96284D9C1D6EDD5600E566EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96284DAD1D72794A00E566EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96284DBB1D73C94800E566EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96284DCF1D750E2C00E566EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96284DE91D75297300E566EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96284DFA1D7704EC00E566EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96284E0B1D77D61B00E566EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96284E1C1D7968B900E566EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96284E2D1D7D1C2A00E566EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96284E411D7EBA3500E566EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96284E521D7FB7A200E566EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96284E601D7FC2EE00E566EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96284E711D80F2FD00E566EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96284E7F1D8249CB00E566EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96284E901D82581000E566EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96284EA11D82A68600E566EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96284EAF1D87800700E566EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96284EC11D87880800E566EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>963E3F0D1D6D70E6002EF988</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9692AFC81D6D322E002D740C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9692AFD61D6D4406002D740C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96B1161E1D6D7401007FEFBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96B116291D6D743F007FEFBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96B116341D6D7521007FEFBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
